@media screen and (min-width: 1901px) {
    nav .usuario{
      // background-color: red;
      top: 33px;
      width: 20px;
      height: 20px;
   }
   nav .carrito{
      top: 33px;
      width: 20px;
      height: 20px;
   }
}
@media screen and (min-width: 1301px) {
   nav .acceder{
      display: none;
    }
    nav .usuario{
      // background-color: red;      
      top: 33px;
      width: 30px;
      height: 30px;
   }
   nav .carrito{
      top: 33px;
      width: 30px;
      height: 30px;
   }
}
/*responsive principal*/
@media screen and (max-width: 1300px) {
    .todasfoto{
       grid-template-columns: repeat(2,1fr);
    }
    nav .cajabuscar{
      display:none;
      /* visibility:hidden;*/
    }
    nav .usuario{
      // background-color: red;      
       width: 30px;
       height: 30px;
    }
    nav .carrito{
      width: 30px;
      height: 30px;
    }
    #spiderman{
       display: none;
    }
    nav .acceder{
      display: none;
    }
    
 }
 
 
 
 @media screen and (max-width: 950px) {
    .todasfoto{
       grid-template-columns: repeat(1,1fr);
    }
    .todasfoto .caja{
       display: flex;
       align-content: center;
    }
    nav .nav-enlace{
       display:none;
    }
    nav .fotosNomovil{
      display: none;
    }
    nav .acceder{
      display: flex;
    }
 }
 
 
 @media screen and (max-width: 450px) {
    .caja img{
       width: 290px;
       height: 140px;
    }
    nav .cajabuscar{
       display:none;
    }
    nav .nav-enlace{
       display:none;
    }
    nav .fotosNomovil{
      display: none;
    }
    nav .acceder{
      display: flex;
    }
    .terminos{
       display: none;
    }
 }