$color-principal: #ffd11a;
$color-blanco: #FFF;
$color-negro: black;

body {
	background-color: $color-blanco;

}

//cabecera
//Tipo de letra
nav {
	display: flex;
	justify-content: flex-geo;
	align-items: center;

	.LozsGaming {
		font-size: xx-large;
		font-family: Prompt;

	}

	.nav-enlace {
		background: $color-principal;
		color: $color-negro;
		padding: 14px 16px;
		text-decoration: none;
		font-family: Prompt;


	}

	a {
		text-decoration: none;
		color: black;
	}

	//buscador


	body,
	div,
	fieldset {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		
	}


	.cajabuscar {
		float: none;
		width: 100%;
		max-width: 350px;
		margin-bottom: 25px;
		margin-top: 29px;
		margin-left: 30px;
		
		
	}

	#buscarform {
		padding: 0;
		float: left;
		clear: both;
		width: 100%;
		position: relative;
		
	}

	#buscarform fieldset {
		float: left
		
	}

	#buscarform .search {
		font-size: 14px;
		top: 0px;
		color: $color-blanco;
		position: absolute;
		right: 0;
		top: 0;
		padding: 9px;
		height: 24px;
		width: 24px;
		text-align: center;
		
	}

	#buscarform fieldset {
		width: 100%
		
	}

	#s {
		width: 100%;
		background-color: $color-blanco;
		float: left;
		padding: 8px 0;
		text-indent: 10px;
		color: #555555;
		border: 1px solid $color-blanco;
		box-sizing: border-box;
		height: 42px;
		background-color: red;
	}

	.button {
		right: 0;
		top: 0;
		padding: 9px 0;
		float: right;
		border: 0;
		width: 42px;
		height: 42px;
		cursor: pointer;
		text-align: center;
		padding-top: 10px;
		color: #a4a4a4;
		transition: all 0.25s linear;
		background: transparent;
		z-index: 10;
		position: absolute;
		border: 0;
		vertical-align: top;
		
	}

	.usuario {

		width: 3%;
		height: 5%;
		top: 13px;
		left: 92%;
	}

	.carrito {
		width: 3%;
		height: 5%;
		top: 13px;
		left: 95.5%;
	}
	.vacio{
		display: flex;
		flex-grow: 1;
	}


}


//menu
#menu {
	background-color: $color-principal;
	border: 1px solid $color-negro;
}


label {
	size: 500px;
	color: $color-negro;
	padding: 15px;

}


//Foto de la portada
#fifacaja {
	display: flex;
	align-items: center;

	.fifa {
		width: 100%;
		border: rgb(0, 0, 0) 1px solid;


	}

}


//Tamaño Fotos tendencias 
#tendencias {
	padding: 90px;
	margin: 300px;

}

.todasfoto {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	width: 100%;
	margin-top: 40px;


	.juegos {

		margin: auto;
		border: rgb(0, 0, 0) 1px solid;
		border-radius: 20px;
	}


	// fotos
	/*Posicionamiento de todas las fotos*/
	.caja {
		display: flex;
		max-height: 330px;
		line-height: 40px;
		margin: 10px;
		padding: 20px;
		/* borde para ver el espacio que ocupa */
		/* background-color: #ffd11a; 
	border: 2px solid #000000; 
	border-radius: 2px; */

	}


}



//LETRAS TENDENCIAS
.tendenciash3 {
	font-size: xx-large;
	font-family: Prompt;
}

//Pie
#footer {
	background-color: $color-principal;
	

	.pie {
		display: flex;
		justify-content: space-around;
	}

	.imagenred {
		width: 30px;
		height: 30px;
	}

	.redes {
		display: flex;
	}
	.foro{
		bottom: 0%;
	}
}

//  Desplegable
nav .acceder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
}

nav .acceder #login {
	display: inline-block;
	font-size: 16px;
	padding: 2px 10px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 600;
	
}

nav .acceder #login-content {
	position: absolute;
	top: 26px;
	right: 0;
	z-index: 999;
	background: $color-principal;
	padding: 15px;
	border-radius: 10px 0 10px 10px;
	width: 250px;
	display: none;
	border: solid black 1.5px;
	
}

nav .acceder a {
	text-decoration: none;
	font-size: 18px;
	font-family: Prompt;
	
}

nav .acceder {
	text-align: center;
	color: white;
	
}

nav .acceder:hover {
	color: red;
	cursor: pointer;
}




















@import "imports/import_principal";
