$color-principal:#ffd11a;
$color-blanco:#FFF;
$color-negro:black;

body {
	background-color:$color-blanco;
 }
 

 nav {
	display: flex;
	align-items: center;

	.LozsGaming {
		font-size: xx-large;
		font-family: Prompt;
	 
	 }

	.nav-enlace {
		background: $color-principal;
		color: $color-negro;
		padding: 14px 16px;
		display: inline-block;
		text-decoration: none;
		font-family: Prompt;
	 }
	 a{
		text-decoration: none;
		color: black;
	 }

	//buscador
 
 body,
 div,
 fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
 }
 
 
 .cajabuscar {
	float: none;
	width: 100%;
	max-width: 350px;
	margin-bottom: 25px;
	margin-top: 29px;
	margin-left: 30px;
	display: inline-block;
	text-align: left;
 }
 
 #buscarform {
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
	position: relative;
 }
 
 #buscarform fieldset {
	float: left
 }
 
 #buscarform .search {
	font-size: 20px;
	top: 0px;
	color: $color-blanco;
	position: absolute;
	right: 0;
	top: 0;
	padding: 9px;
	height: 24px;
	width: 24px;
	text-align: center;
 }
 
 #buscarform fieldset {
	width: 100%
 }
 
 #s {
	width: 100%;
	background-color: $color-blanco;
	float: left;
	padding: 8px 0;
	text-indent: 10px;
	color: #555555;
	border: 1px solid $color-blanco;
	box-sizing: border-box;
	height: 42px;
 }
 
 .button {
	right: 0;
	top: 0;
	padding: 9px 0;
	float: right;
	border: 0;
	width: 42px;
	height: 42px;
	cursor: pointer;
	text-align: center;
	padding-top: 10px;
	color: #a4a4a4;
	transition: all 0.25s linear;
	background: transparent;
	z-index: 10;
	position: absolute;
	border: 0;
	vertical-align: top;
 }
	

	
 .usuario {
	display: inline;
	position: absolute;
	width: 3%;
	height: 5%;
	left: 92%;
 }
 
 .carrito {
	display: inline;
	position: absolute;
	width: 3%;
	height: 5%;
	left: 95.5%;
 }
 
 
 
 }
 //menu
 #menu {
	background-color: $color-principal;
	border: 1px solid $color-negro;
 }
 label {
	size: 500px;
	color: $color-negro;
	padding: 15px 90px;
	display: inline-block;
 }


 //Select plataforma
 #plataforma {
	font-family: Prompt;
	
 }
 

 //tendencias
 //Tamaño Fotos tendencias 
 #tendencias {
	padding: 90px;
	margin: 300px;

 }
 .todasfoto{
	display: grid;
	grid-template-columns: 33% 33% 33% ;
   justify-content: space-around;
   width: 100%;
   margin-top: 40px;

 
 .juegos {

	margin: auto;
	border: rgb(0, 0, 0) 1px solid;
	border-radius: 20px;
 }
 
 
 
 /*Posicionamiento de las fotos*/
 .caja {
	max-height: 330px;
   	line-height: 40px;
   	margin: 10px;
   	padding: 20px;
   /* borde para ver el espacio que ocupa */
   /* background-color: #ffd11a; 
	border: 2px solid #000000; 
	border-radius: 2px; */
 
 }
 
  
 }

//Tamaño letra tendencias
 .tendenciash3 {
	font-size: xx-large;
	font-family: Prompt;
 }

 
 //Pie
 #footer {
	background-color: $color-principal;
	height: 200px;
	padding: 20px;

	.pie {
		display: flex;
		justify-content: space-around;
	 }

	 .imagenred {
		width: 30px;
		height: 30px;
	 }
	 
	 .redes {
		display: flex;
	 
	 }
 }
 
// responsive
@import "imports/import_play";


